<h1>Here Be Dragons</h1>


<% if notice %>
<div class="alert alert-success">
  <%= notice %>
</div>
<% end %>
<% if alert %>
<div class="alert alert-danger">
  <%= alert %>
</div>
<% end %>


<p><%= @schedules %></p>